doctype html
html
  head
    title HackerQueue
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/loading-bar.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")

      link(rel='shortcut icon', type='image/x-icon',
           href="http://i.imgur.com/kX8Dmef.jpg")

    body(ng-app="app", ng-controller="AppTest as app")
      script(type='text/javascript', src='analytics.js')
      script(type='text/javascript', src='test.js')
      script(type='text/javascript', src='loading-bar.js')

      header
        div(style="position: center", "cursor: hand")
          img#refresh(src="/HackerQueue.png", ng-click="refresh()")

        input#searchterm(type="text", ng-model="searchText",
                         placeholder="Filter…")
        br

        #boxes
          //- Make a checkbox
          mixin source_checkbox(prefix, title)
            input.check(type="checkbox", id=prefix+"Box",
                        ng-model=prefix, name="check" checked)
            label.box
              strong=title

          +source_checkbox("hn", "Hacker News")
          +source_checkbox("lobster", "Lobste.rs")
          +source_checkbox("rprog", "/r/programming")


      #container
        #main-content
          #buttons
            form#newsType(action="")
              input#first(type="radio", name="content",
                          ng-model="content", value="first")
              label(for="first") Top

              input#other(type="radio", name="content",
                          ng-model="content", value="other")
              label(for="other") New
              br
          p
          block content

      #sidebar
        block sidebar

      div
        #firstFooter
          p#toTop(ng-click="goToTop()")
            strong Back to Top 
      footer
        #gh-content
          p Aggregates news from Hacker News, Lobste.rs, and Reddit.com/r/programming
          iframe(src="http://ghbtns.com/github-btn.html?user=frankcash&repo=HackerQueue&type=watch&count=true",
                 allowtransparency="true", frameborder="0", scrolling="0",
                 width="110", height="20")
